@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
  background-color: #78615E;
  color: #FCFDF9;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 5%;
}

header{
  margin-bottom: 10px;

}

h1{
  font-family: 'Bebas Neue', cursive;
  font-size: 4em;
  text-align: center;
  margin: 10px;
}

p {
  font-size: 1.5em; 
  text-align: center; 
  margin-bottom: 10px; 
}

main{
  text-align: center;
}


img{
  height: 27vh;
  width: 27vw;
}
#image-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
}

button{
  background-color: #D4A3BA;
  color: #78615E;
  padding: 1vw; 
  font-size: 1rem;
  border:none;
  border-radius:10px;
  box-shadow: 0px 0px 2px 2px #897C93;
  margin: 15px;
}
